@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light;
  color: #242424;
  background-color: white; */

  --background: #ffffff;
  --foreground: #000000;
  --c2: #e6ffcb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    --c2: #121212;
    color-scheme: dark;
  }
}

@layer utilities {
  ::selection {
    background-color: #b0ff62;
    color: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

/* .scrollable {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.scrollable::-webkit-scrollbar {
  display: none;
}

.error {
  display: flex;
  width: 25%;
  height: 40px;
  border-radius: 20px;
  background-color: #161616;
  border: 1px solid #414141;
  position: absolute;
  min-width: fit-content;
  max-width: fit-content;
  backdrop-filter: blur(5px);
}

.error p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1em;
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 2em;
}

@keyframes errorS {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(100%)
  }
}

@keyframes errorF {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }

  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

.pattern {
  --s: 70px; /* control the size*/
  
  --_g: 
     var(--background) 0%  5% ,var(--c2) 6%  15%,var(--background) 16% 25%,var(--c2) 26% 35%,var(--background) 36% 45%,
     var(--c2) 46% 55%,var(--background) 56% 65%,var(--c2) 66% 75%,var(--background) 76% 85%,var(--c2) 86% 95%,
     #0000 96%;
  background:
    radial-gradient(50% 50% at 100% 0,var(--_g)),
    radial-gradient(50% 50% at 0 100%,var(--_g)),
    radial-gradient(50% 50%,var(--_g)),
    radial-gradient(50% 50%,var(--_g)) calc(var(--s)/2) calc(var(--s)/2)
    var(--background);
  background-size: var(--s) var(--s);
}