@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light;
  color: #242424;
  background-color: white; */

  --background: #ffffff;
  --foreground: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

.scrollable {
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollable::-webkit-scrollbar {
  display: none; 
}